<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href={{ path('app_home')}}>Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href={{ path('app_photo')}}>Photo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ path('app_panier')}}>Panier</a>
			</li>
			<li class="nav-item" id="cart">
				<a class="nav-link" href='#'>
					<button type="button">
						<i class="icon-shopping-cart"></i>
						<span>
							{% if cartNumber is defined %}
								{{cartNumber}}
							{% else %}
								0
							{% endif %}
						</span>
					</button>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ path('app_register')}}>S'inscrie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ path('app_login')}}>Connexion</a>
			</li>
		<form class="d-flex" role="search">
    <div class="position-relative">
        <input id="searchInput" class="form-control me-2" type="search" placeholder="..." aria-label="Search">
        <div id="searchResults" class="position-absolute top-100 start-0 translate-middle-y bg-white border border-1 border-secondary rounded-3" style="display: none;">
            {{ render(controller('App\\Controller\\PanierController::requete')) }}
        </div>
    </div>
    <button class="btn btn-outline-success" type="submit">Recherche</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#searchInput').on('click', function() {
            $('#searchResults').toggle();
        });
    });
</script>



		</ul>
	</div>
</nav>
